<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## **Objectives:** 

- To create a Jupyter Notebook
- To name the Jupyter Notebook 
- To insert Code and Markdown cells
- To run or execute cells
- To evaluate arithematic expressions and operations
- To share your notebooks through GitHub

### In this notebook, Data Science Tools and Ecosystem are summarized

#### Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. Java 
4. Julia
5. SQL
6. Scala
7. C++

#### Some of the commonly used libraries used by Data Scientists include: 

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. TensorFlow

#### Some of the commonly used tools used by Data Scientists include:

| Data Science Tools |
----------------------
| RStudio |
| Jupyter Notebook |
| JupyterLab |
| Apache Zepplin |
| Spyder |

#### Below are a few examples of evaluating arithematic expression in Python

1. a+b - Addition
2. a-b - Subtraction 
3. a*b - Multiplication
4. a/b - Division
5. a%b - Modulus

#### This is a simple arithematic expression to multiply and then add integers

In [5]:
(3*4)+5

17

#### This will convert 200 minutes to hours by dividing by 60

In [6]:
min = 200
hrs = 200/60
print("200 minutes = ", hrs, "hours ")

200 minutes =  3.3333333333333335 hours

## Author

Nidhi A Nair